body {
    font-family: "Roboto";
    margin: 0;
}

.header, .footer {
    background-color: #1f2937;
}

.header {
    display: flex;
    flex-direction: column;
    gap: 60px; 
    padding-bottom: 40px;
    height: 400px;
}

.top {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.top .logo {
    font-weight: 900;
    font-size: 24px;
}

.awesome {
    display: flex;
    justify-content: center;
    gap: 35px;

}

.hero-main {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}

.hero-2 {
    font-size: 18px;
    color: #e5e7eb;
}

.a-left {
    flex-wrap: wrap;
}

.a-left .hero-2 {
    width: 450px;
    margin-bottom: 5px;
}

.a-left .hero-main {
    width: 400px;
}

.sign-up {
    background-color: #3882f6;
    color: white;
    padding: 5px 25px;
    border-radius: 10px;
}

.a-right {
    background-color: #585b5f;
    color: white;
    height: 250px;
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info {
    height: 400px;
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
    text-align: center;
    padding-top: 35px;
}

.info-cards {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.info-text {
    margin-bottom: 50px;
}

.box {
    border: solid;
    border-radius: 10px;
    height: 150px;
    width: 150px;
    color: #3882f6;
    margin-bottom: 5px;
}


.subtext {
    flex-wrap: wrap;
    font-size: 18px;
    font-weight: 300;
    width: 170px;
    text-align: center;
}

ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    gap: 15px;
  }